.photoList{
    list-style:none;
    margin:0;
    padding:0;
    height:100%;
    background:rgb(50,50,50);
    overflow:auto;
}

.photoList li{
    height:40%;
    width:100%;
    box-shadow:inset 3px 3px 35px rgb(0,0,0);
    background-size:cover;
    background-position:center;
}

.photoList li>i{
    position:absolute;
    bottom:2px;
    right:2px;
}